In [25]:
import pandas as pd
import numpy as np
from sklearn.impute import SimpleImputer
df = pd.read_csv("C://Users//Admin//OneDrive//Desktop//DSU//Projects//Covid 19//covid_19_data.csv")
df.head(10)

,SNo,ObservationDate,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
0,1,01/22/2020,Anhui,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
1,2,01/22/2020,Beijing,Mainland China,1/22/2020 17:00,14.0,0.0,0.0
2,3,01/22/2020,Chongqing,Mainland China,1/22/2020 17:00,6.0,0.0,0.0
3,4,01/22/2020,Fujian,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
4,5,01/22/2020,Gansu,Mainland China,1/22/2020 17:00,0.0,0.0,0.0
5,6,01/22/2020,Guangdong,Mainland China,1/22/2020 17:00,26.0,0.0,0.0
6,7,01/22/2020,Guangxi,Mainland China,1/22/2020 17:00,2.0,0.0,0.0
7,8,01/22/2020,Guizhou,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
8,9,01/22/2020,Hainan,Mainland China,1/22/2020 17:00,4.0,0.0,0.0
9,10,01/22/2020,Hebei,Mainland China,1/22/2020 17:00,1.0,0.0,0.0

In [26]:
df.drop(['SNo', 'Last Update'], axis=1, inplace=True)

In [27]:
df.head()

  ObservationDate Province/State  Country/Region  Confirmed  Deaths  Recovered
0      01/22/2020          Anhui  Mainland China        1.0     0.0        0.0
1      01/22/2020        Beijing  Mainland China       14.0     0.0        0.0
2      01/22/2020      Chongqing  Mainland China        6.0     0.0        0.0
3      01/22/2020         Fujian  Mainland China        1.0     0.0        0.0
4      01/22/2020          Gansu  Mainland China        0.0     0.0        0.0

In [28]:
df.rename(columns={'ObservationDate':'Date', 'Province/State':'Province', 'Country/Region':'Country'}, inplace=True)

In [29]:
df.head()

         Date   Province         Country  Confirmed  Deaths  Recovered
0  01/22/2020      Anhui  Mainland China        1.0     0.0        0.0
1  01/22/2020    Beijing  Mainland China       14.0     0.0        0.0
2  01/22/2020  Chongqing  Mainland China        6.0     0.0        0.0
3  01/22/2020     Fujian  Mainland China        1.0     0.0        0.0
4  01/22/2020      Gansu  Mainland China        0.0     0.0        0.0

In [30]:
df['Date']=pd.to_datetime(df['Date'])

In [32]:
df.head()

        Date   Province         Country  Confirmed  Deaths  Recovered
0 2020-01-22      Anhui  Mainland China        1.0     0.0        0.0
1 2020-01-22    Beijing  Mainland China       14.0     0.0        0.0
2 2020-01-22  Chongqing  Mainland China        6.0     0.0        0.0
3 2020-01-22     Fujian  Mainland China        1.0     0.0        0.0
4 2020-01-22      Gansu  Mainland China        0.0     0.0        0.0

In [33]:
df.describe()

,Date,Confirmed,Deaths,Recovered
count,205951,2.059510e+05,205951.000000,2.059510e+05
mean,2020-08-31 05:58:00.542459136,4.540148e+04,1262.633850,2.766348e+04
min,2020-01-22 00:00:00,-3.028440e+05,-178.000000,-8.544050e+05
25%,2020-06-27 00:00:00,5.960000e+02,7.000000,1.100000e+01
50%,2020-09-05 00:00:00,5.361000e+03,101.000000,1.028000e+03
75%,2020-11-13 00:00:00,2.618400e+04,713.000000,9.880000e+03
max,2021-01-19 00:00:00,3.049037e+06,80143.000000,6.399531e+06
std,NaN,1.437216e+05,4082.838603,1.334517e+05

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205951 entries, 0 to 205950
Data columns (total 6 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   Date       205951 non-null  datetime64[ns]
 1   Province   150571 non-null  object
 2   Country    205951 non-null  object
 3   Confirmed  205951 non-null  float64
 4   Deaths     205951 non-null  float64
 5   Recovered  205951 non-null  float64
dtypes: datetime64[ns](1), float64(3), object(2)
memory usage: 9.4+ MB

In [36]:
df=df.fillna('NA')

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205951 entries, 0 to 205950
Data columns (total 6 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   Date       205951 non-null  datetime64[ns]
 1   Province   205951 non-null  object
 2   Country    205951 non-null  object
 3   Confirmed  205951 non-null  float64
 4   Deaths     205951 non-null  float64
 5   Recovered  205951 non-null  float64
dtypes: datetime64[ns](1), float64(3), object(2)
memory usage: 9.4+ MB

In [54]:
df2 = df.groupby('Country')[['Confirmed', 'Deaths', 'Recovered']].sum().reset_index()

In [55]:
df2.head(30)

                   Country     Confirmed      Deaths    Recovered
0               Azerbaijan  1.000000e+00         0.0          0.0
1          ('St. Martin',)  2.000000e+00         0.0          0.0
2              Afghanistan  9.497206e+06    340564.0    6834349.0
3                  Albania  4.933931e+06    111888.0    2714547.0
4                  Algeria  1.252383e+07    431100.0    8457420.0
5                  Andorra  8.465090e+05     17133.0     701853.0
6                   Angola  1.689812e+06     44796.0     912761.0
7      Antigua and Barbuda  2.618900e+04       965.0      22303.0
8                Argentina  1.810644e+08   4649141.0  150151111.0
9                  Armenia  1.763467e+07    304101.0   13961711.0
10                   Aruba  1.900000e+01         0.0          0.0
11               Australia  5.634473e+06    150217.0    4755974.0
12                 Austria  2.937157e+07    484061.0   24411646.0
13              Azerbaijan  1.720504e+07    216747.0   13618696.0
14                 Bahamas  9.246190e+05     20855.0     626938.0
15            Bahamas, The  1.000000e+01         0.0          0.0
16                 Bahrain  1.474531e+07     54021.0   13718332.0
17              Bangladesh  7.872985e+07   1116355.0   58598619.0
18                Barbados  6.108700e+04      1970.0      45887.0
19                 Belarus  2.446534e+07    201427.0   20838056.0
20                 Belgium  6.645301e+07   3312701.0    3797948.0
21                  Belize  7.887860e+05     16563.0     536471.0
22                   Benin  5.255810e+05      8406.0     433516.0
23                  Bhutan  6.847600e+04        12.0      53428.0
24                 Bolivia  2.594468e+07   1413928.0   17659515.0
25  Bosnia and Herzegovina  1.023833e+07    332563.0    6591958.0
26                Botswana  1.245839e+06      4280.0     833083.0
27                  Brazil  1.044919e+09  30930502.0  891483698.0
28                  Brunei  4.448600e+04       754.0      40642.0
29                Bulgaria  1.505312e+07    502580.0    7773365.0

In [57]:
df2 = df.groupby(['Country', 'Date'])[['Confirmed', 'Deaths', 'Recovered']].sum().reset_index()

In [61]:
df2.head(30)

            Country       Date  Confirmed  Deaths  Recovered
0        Azerbaijan 2020-02-28        1.0     0.0        0.0
1   ('St. Martin',) 2020-03-10        2.0     0.0        0.0
2       Afghanistan 2020-02-24        1.0     0.0        0.0
3       Afghanistan 2020-02-25        1.0     0.0        0.0
4       Afghanistan 2020-02-26        1.0     0.0        0.0
5       Afghanistan 2020-02-27        1.0     0.0        0.0
6       Afghanistan 2020-02-28        1.0     0.0        0.0
7       Afghanistan 2020-02-29        1.0     0.0        0.0
8       Afghanistan 2020-03-01        1.0     0.0        0.0
9       Afghanistan 2020-03-02        1.0     0.0        0.0
10      Afghanistan 2020-03-03        2.0     0.0        0.0
11      Afghanistan 2020-03-04        4.0     0.0        0.0
12      Afghanistan 2020-03-05        4.0     0.0        0.0
13      Afghanistan 2020-03-06        4.0     0.0        0.0
14      Afghanistan 2020-03-07        4.0     0.0        0.0
15      Afghanistan 2020-03-08        5.0     0.0        0.0
16      Afghanistan 2020-03-09        7.0     0.0        0.0
17      Afghanistan 2020-03-10        8.0     0.0        0.0
18      Afghanistan 2020-03-11       11.0     0.0        0.0
19      Afghanistan 2020-03-12       12.0     0.0        0.0
20      Afghanistan 2020-03-13       13.0     0.0        0.0
21      Afghanistan 2020-03-14       15.0     0.0        0.0
22      Afghanistan 2020-03-15       16.0     0.0        0.0
23      Afghanistan 2020-03-16       18.0     0.0        1.0
24      Afghanistan 2020-03-17       20.0     0.0        1.0
25      Afghanistan 2020-03-18       24.0     0.0        1.0
26      Afghanistan 2020-03-19       25.0     0.0        1.0
27      Afghanistan 2020-03-20       29.0     0.0        1.0
28      Afghanistan 2020-03-21       30.0     0.0        1.0
29      Afghanistan 2020-03-22       34.0     1.0        1.0

In [62]:
df3 = df2[df2['Confirmed']>100]

In [67]:
df3.head(30)

        Country       Date  Confirmed  Deaths  Recovered
35  Afghanistan 2020-03-28      107.0     4.0        2.0
36  Afghanistan 2020-03-29      118.0     4.0        2.0
37  Afghanistan 2020-03-30      146.0     4.0        2.0
38  Afghanistan 2020-03-31      175.0     4.0        5.0
39  Afghanistan 2020-04-01      197.0     4.0        5.0
40  Afghanistan 2020-04-02      240.0     4.0       10.0
41  Afghanistan 2020-04-03      275.0     8.0       10.0
42  Afghanistan 2020-04-04      300.0    10.0       10.0
43  Afghanistan 2020-04-05      338.0    12.0       15.0
44  Afghanistan 2020-04-06      368.0    15.0       18.0
45  Afghanistan 2020-04-07      424.0    16.0       18.0
46  Afghanistan 2020-04-08      445.0    16.0       29.0
47  Afghanistan 2020-04-09      485.0    17.0       32.0
48  Afghanistan 2020-04-10      532.0    18.0       32.0
49  Afghanistan 2020-04-11      556.0    18.0       32.0
50  Afghanistan 2020-04-12      608.0    19.0       32.0
51  Afghanistan 2020-04-13      666.0    22.0       32.0
52  Afghanistan 2020-04-14      715.0    23.0       40.0
53  Afghanistan 2020-04-15      785.0    29.0       43.0
54  Afghanistan 2020-04-16      841.0    30.0       54.0
55  Afghanistan 2020-04-17      907.0    30.0       99.0
56  Afghanistan 2020-04-18      934.0    30.0      112.0
57  Afghanistan 2020-04-19      997.0    33.0      131.0
58  Afghanistan 2020-04-20     1027.0    36.0      135.0
59  Afghanistan 2020-04-21     1093.0    36.0      150.0
60  Afghanistan 2020-04-22     1177.0    40.0      166.0
61  Afghanistan 2020-04-23     1236.0    40.0      179.0
62  Afghanistan 2020-04-24     1331.0    43.0      188.0
63  Afghanistan 2020-04-25     1464.0    47.0      188.0
64  Afghanistan 2020-04-26     1532.0    52.0      207.0